.exchange {
    align-items: center;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}

.exchange-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}